* {
    padding: 0;
    margin: 0;
    font-family: Arial;
    color: white;

    --color-1: #0B3948;
    --color-2: #416165;
    --color-3: #ACB0BD;
    --color-4: #D0CDD7;
    --color-5: #D9DBF1;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--color-1);
}

/* Header */

.h1, h1 {
    font-size: 25pt;
    margin: 5pt;
    color: var(--color-4);
}

.h2, h2 {
    font-size: 20pt; 
    margin: 5pt;
    color: var(--color-4);
}

.h3, h3 {
    font-size: 15pt;
    margin: 5pt;
    color: var(--color-4);
}

/* Text */

p, label {
    font-size: 15pt;
    color: var(--color-4);
}

a {
    font-size: 15pt;
    color: var(--color-4);
}

/* Buttons */

.btn-1 {
    background-color: var(--color-2);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    transition: 150ms;
}

.btn-1:hover {
    background-color: var(--color-2);
    transform: scale(1.05);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

button:disabled, button:hover:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}

input {
    background-color: var(--color-2);
    color: var(--color-4);
    font-size: 16px;
    margin: 10px;
    padding: 15px;
}

/* Main */

canvas {
    aspect-ratio: 16 / 9;
    height: 50%;
    border: .5rem solid var(--color-4);
    background-color: var(--color-1);
}

.canvas-container {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.interfaces {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: grid;
    place-items: center;
}

.interface {
    position: absolute;
    display: grid;
    place-items: center;
}

.text-container {
    position: absolute;
    width: 100%;
    top: 10%;
    display: grid;
    place-items: center;
}

.Settings {
    position: absolute;
    top: 0;
    margin: 10px;
    display: grid;
    place-items: center;
}

/* CSS for the switcher button */
.switcher {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switcher__input {
    display: none;
  }
  
  .switcher__toggle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    transition: background-color 0.2s;
  }
  
  .switcher__handle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
  }
  
  .switcher__input:checked + .switcher__toggle {
    background-color: #4CAF50;
  }
  
  .switcher__input:checked + .switcher__toggle .switcher__handle {
    left: calc(100% - 2px - 30px);
    transform: translateX(-100%);
  }